/*
* by default the checkboxes and radio buttons on Maple are white boxes.
* here we style them to mimic the normal effect of the checked states
* warning : it seems that the radio buttons are not stylable
*/
input[type=checkbox],
input[type=radio] {
	border: 2px solid black;
	background-color:white;
}

input[type=radio][selected],
input[type=checkbox][checked] {
	background-color:dimgray;
}

input[type=checkbox]:focus,
input[type=radio]:focus {
	border: 3px solid orange;
}