*.pyc
*~
export/
.DS_Store
build/.joshlib.js
build/selenium*
build/optimizer/closure-compiler*
css/sencha-touch/.sass-cache/
doc/export/
doc/node_modules/
doc/preprod/
doc/templates_compiled/
src/adapters/node/node_modules/
test/node_modules/
doc/content/api/
doc/.sass-cache/
node_modules/
examples/*/export/*
examples/*/phonegap/www/*
examples/*/.sass-cache/*
doc/content/api/
examples/videolist/joshfire/
examples/videolist/joshfire/*
*/.DS_Store
