
#exampleVideoList__videolist {
  position: absolute;
  z-index: 1;
  background: black;
  top:50px;
  bottom:0px;
  width:100%;
}
h1{
  height:400px;
  background-color:#fff;
  z-index:100;
  border:1px solid lightgreen;
  color:#000;
  font-size:14px;
  display:none;
}
  .focused{
    border:1px solid orange;
  }
  .selected{
    border:1px solid lightgreen;

  }