html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #2F323B;
  color: #fff;
  font: 12px 'Lucida Grande', 'Trebuchet MS', Verdana, sans-serif;
}

h1 {
  font-family: Georgia, serif;
  font-weight: normal;
  padding: 10px;
  margin: 0;
  text-align: center;
  border-bottom: 1px solid #6d7287;
}

#splashscreen {
  position: absolute;
  top: 48px; right: 0; bottom: 0; left: 0;
  line-height: 5em;
  background: #000;
  font-size: "Arial Narrow", Arial, Sans-serif;
  font-weight: bold;
  color: red;
  text-align: center;
  font-size: 10em;
}

ul, figure {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

#exampleVideoList__videolist {
  position: absolute;
  z-index: 1;
  background: black;
  top:50px;
  bottom:0px;
  width:100%;
}
.exampleVideoList__videolist_scroller {
  width:100%;
  position: absolute;
}

.scrollbarV {
 background: transparent;
 border: none;
 position: absolute;
 z-index: 100;
 width: 7px;
 bottom: 2px;
 top: 2px;
 right: 1px
}
.scrollbarV > div{
 position: absolute;
 z-index: 100;
 background: rgba(255, 55, 55, 1);
 border: none;
 -webkit-background-clip: padding-box;
 -webkit-box-sizing: border-box;
 width: 100%;
 -webkit-border-radius: 1px;
 border-radius: 1px;
}

.josh-List {
  float: left;
  -webkit-box-sizing: border-box;
  width: 25%;
  height: 225px;
  padding: 5px;
}

.josh-List figcaption {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.josh-List img {
  width: 100%;
}

figcaption {
  font-weight: bold;
}

.josh-type-Video {
  display: none;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  text-align: center;
}

.josh-type-Video video {
  position: relative;
  top: 40px;
  display: inline-block;
  height: 90%;
  width: 100%;
  z-index: 20;
}

.josh-type-Video .close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  border-radius: 2px;
  z-index: 30;
}