div, img, p, ul, li, figure, figcaption {
 margin: 0;
 padding: 0;
}

body {
 margin: auto;
 font: 12px 'Lucida Grande', 'Trebuchet MS', Verdana, sans-serif;
 font-weight: normal;
 color: #C1D2E3;
 background-color: #2F323B;
}

h1{ 
 margin: 10px; 
 font-family: Georgia, serif;
 font-weight: 400;
}

#exampleVideoList__{
  height: 100%;
  width: 100%;
}

.josh-id-videolist {
  position: absolute;
  z-index: 1;
  top: 40px; bottom:0px; left:0px;
  width: 100%;
  background: #1E2124;
  overflow: auto;
}

.scrollbarV {
 background: transparent;
 border: none;
 position: absolute;
 z-index: 100;
 width: 7px;
 bottom: 2px;
 top: 2px;
 right: 1px
}
.scrollbarV > div{
 position: absolute;
 z-index: 100;
 background: rgba(108, 115, 135, 0.5);
 border: none;
 -webkit-background-clip: padding-box;
 -webkit-box-sizing: border-box;
 width: 100%;
 -webkit-border-radius: 3px;
 border-radius: 3px;
}

.exampleVideoList__videolist_scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  padding: 0;
}

.exampleVideoList__videolist_scroller ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: left;
}

.exampleVideoList__videolist_scroller li {
  margin: 0;
  padding: 10px 0px 6px 0px;
  min-height: 46px;
  line-height: 16px;
  border-bottom: 1px solid #2A2F33;
  border-top: 1px solid #6D7287;
  background-color :#1E2124;
  font-size: 12px;
}

#exampleVideoList__videolist ul li img {
 height: 40px;
 width: 53px;
 margin: 0px 10px 0px 5px;
 float: left;
 -webkit-border-radius: 2px;
 -moz-border-radius: 2px;
 border-radius: 2px;
}

#splashscreen {
  position: absolute;
  width: 100%;
  height: 200px;
  line-height: 200px;
  background-color: #000;
  font-size: "arial narrow", arial;
  font-weight: bold;
  color: red;
  text-align: center;
  font-size: 10em;
}

#exampleVideoList__videolist ul li figure figcaption {
 float: left;
 width: 200px;
 padding: 0px 2px 0px 2px;
}

.josh-type-Video {
  display: none;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  text-align: center;
}

.josh-type-Video video {
  margin-top: 10%; 
  display: inline-block;
  width: 512px;
  height: 288px;
  width: 100%;
}

.josh-type-Video .close {
  position: absolute;
  left: 50%;
  margin-left: -40px;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}